# Backend Django
Backend/venv/
Backend/**/__pycache__/
Backend/*.pyc
Backend/db.sqlite3
Backend/.env
Backend/*.log
Backend/media/
Backend/staticfiles/
Backend/**/migrations/0*.py
Backend/migrations/
Backend/FlowLibre_Backend/local_settings.py
Backend/db.json
Backend/fixtures/
Backend/logs/

# Android
APPMOBILE/.idea/
APPMOBILE/.gradle/
APPMOBILE/build/
APPMOBILE/local.properties
APPMOBILE/*.apk
APPMOBILE/*.aab
APPMOBILE/app/build/
APPMOBILE/app/release/
APPMOBILE/app/debug/
APPMOBILE/captures/
APPMOBILE/.externalNativeBuild/
APPMOBILE/.cxx/
APPMOBILE/keystore.properties
APPMOBILE/app/google-services.json
*.keystore
*.jks

# General
.DS_Store
.vscode/
.idea/
*.log
*.tmp
*.temp
*.swp
*.swo
*~
*.bak
*.backup
*.out
.env.*
!.env.example